TSICON	ICON	"twinsock.ico"

TS_MENU MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Send break signal", 104
		MENUITEM "&Dial...", 105
		MENUITEM SEPARATOR
		MENUITEM "&Connect", 101
		MENUITEM "D&isconnect", 102
		MENUITEM "Show &protocol summary...", 106
		MENUITEM SEPARATOR
		MENUITEM "E&xit", 103
	END

	POPUP "S&cript"
	BEGIN
		MENUITEM "&Compile...", MN_SCOMP
		MENUITEM "&Run...", MN_SRUN
		MENUITEM SEPARATOR
		MENUITEM "&1", MN_S1
		MENUITEM "&2", MN_S2
		MENUITEM "&3", MN_S3
		MENUITEM "&4", MN_S4
		MENUITEM "&5", MN_S5
	END

	POPUP "S&etup"
	BEGIN
		MENUITEM "&Properties...", MN_PROP
		MENUITEM "&Communications...", 100
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "Help on &TwinSock", MN_HHELP
		MENUITEM "Help on &Ultra TwinSock", 5009
		MENUITEM SEPARATOR
		MENUITEM "&About TwinSock...", 201
		MENUITEM "A&bout Ultra TwinSock...", MN_HABOUT
	END

END
COMMS_DLG DIALOG 5, 19, 217, 108
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "Communications Parameters"
FONT 8, "MS Sans Serif"
BEGIN
	RTEXT "&Port", 100, 6, 10, 53, 8
	CONTROL "", 101, "COMBOBOX", CBS_DROPDOWN | WS_TABSTOP, 61, 8, 89, 62
	RTEXT "&Speed", 102, 6, 30, 53, 8
	CONTROL "", 103, "COMBOBOX", CBS_DROPDOWNLIST | WS_TABSTOP, 61, 28, 89, 115
	RTEXT "&Data bits", 104, 6, 50, 53, 8
	CONTROL "", 105, "COMBOBOX", CBS_DROPDOWNLIST | WS_TABSTOP, 61, 48, 89, 42
	RTEXT "Pari&ty", 106, 6, 70, 53, 8
	CONTROL "", 107, "COMBOBOX", CBS_DROPDOWNLIST | WS_TABSTOP, 61, 68, 89, 70
	RTEXT "Stop &Bits", 108, 6, 91, 53, 8
	CONTROL "", 109, "COMBOBOX", CBS_DROPDOWNLIST | WS_TABSTOP, 61, 89, 89, 57
	CONTROL "", 110, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 4, 3, 152, 102
	CONTROL "Button", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 169, 9, 36, 24
	CONTROL "Button", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 169, 40, 36, 24
	CONTROL "Button", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 169, 71, 36, 24
END

ABOUT_DLG DIALOG 26, 40, 194, 157
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "About TwinSock"
FONT 8, "MS Sans Serif"
BEGIN
	ICON "TSICON", -1, 9, 12, 18, 20, WS_CHILD | WS_VISIBLE
	CTEXT "TwinSock 1.4", -1, 33, 7, 127, 8
	CTEXT "Copyright 1994-1995 Troy Rollo", -1, 33, 20, 127, 8
	CTEXT "This Program Is Free Software", -1, 33, 33, 127, 8
	LTEXT "You may redistribute it under the terms of the file LICENSE.TXT, included with the TwinSock software.", -1, 33, 44, 127, 43
	CTEXT "Please direct questions and comments to twinsock@cbme.unsw.EDU.AU", -1, 30, 83, 142, 22
	CONTROL "", 101, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 5, 4, 184, 105
	CONTROL "Button", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 126, 36, 24
	CONTROL "", 102, "BorShade", 2 | WS_CHILD | WS_VISIBLE, -18, 118, 234, 4
END


DIAL_DLG DIALOG 24, 76, 153, 101
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "Dial"
FONT 8, "MS Sans Serif"
BEGIN
	RTEXT "&Number", -1, 6, 9, 26, 8
	EDITTEXT 101, 35, 7, 108, 12
	CONTROL "", 104, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 4, 5, 145, 19
	CONTROL "&Pulse", 102, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 40, 34, 32, 10
	CONTROL "&Tone", 103, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 81, 34, 32, 10
	CONTROL "", 105, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 30, 30, 92, 20
	CONTROL "", 106, "BorShade", 2 | WS_CHILD | WS_VISIBLE, -29, 59, 211, 2
	CONTROL "Button", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 69, 36, 24
	CONTROL "Button", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 69, 36, 24
END

PROTO_DLG DIALOG 34, 20, 142, 155
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "Protocol Summary"
BEGIN
	RTEXT "Packets Sent:", -1, 18, 9, 73, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 100, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 95, 9, 28, 8
	RTEXT "Packets Received:", -1, 18, 21, 73, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 101, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 95, 21, 28, 8
	RTEXT "CRC Errors:", -1, 18, 33, 73, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 102, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 95, 33, 28, 8
	RTEXT "Retransmits:", -1, 18, 45, 73, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 103, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 95, 45, 28, 8
	RTEXT "Timeouts:", -1, 18, 57, 73, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 104, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 95, 57, 28, 8
	RTEXT "Failed sanity checks:", -1, 18, 69, 73, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 105, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 95, 69, 28, 8
	RTEXT "Incomplete packets:", -1, 18, 81, 73, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 106, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 95, 81, 28, 8
	RTEXT "Bytes Received:", -1, 18, 93, 73, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 107, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 95, 93, 28, 8
	RTEXT "Bytes Discarded:", -1, 18, 105, 73, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", 108, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 95, 105, 28, 8
	CONTROL "", 109, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 10, 8, 122, 110
	CONTROL "Button", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 55, 126, 32, 20
END

