#include "ultrats.h"

dlg_About DIALOG 81, 54, 180, 194
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "About Ultra Twinsock..."
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "Button", 1, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 163, 32, 20
	CONTROL "Ultra TwinSock Version 0.2", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 28, 13, 124, 8
	CONTROL "Modified on 5/20/95-6/5/95 by Misha Koshelev from source code created by Troy Rollo", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 22, 134, 28
	CONTROL "All modifications created by Misha Koshelev copyright (C) 1995 by Misha Koshelev", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 25, 51, 129, 24
	CONTROL "", 101, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 4, 5, 171, 145
	CONTROL "", 102, "BorShade", 2 | WS_CHILD | WS_VISIBLE, -23, 157, 231, 2
	CONTROL "This program is free software", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 80, 103, 11
	ICON ico_Main, -1, 6, 7, 18, 20, WS_CHILD | WS_VISIBLE
	CONTROL "You may redistribute it under the terms in the file LICENSE.TXT, included with this software", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 20, 93, 140, 26
	CONTROL "Please direct question and comments to:
mkosh@cs.utep.edu", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 21, 121, 138, 17
	CONTROL "with ULTRATS: before the actual subject", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 21, 138, 137, 11
END

dlg_Properties DIALOG 37, 12, 217, 237
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "Properties..."
BEGIN
	CONTROL "Button", 1, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 211, 32, 20
	CONTROL "Button", 2, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 113, 211, 32, 20
	CONTROL "Quick-access scripts:", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 73, 9, 71, 9
	CONTROL "&1", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 37, 6, 8
	CONTROL "&2", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 51, 6, 8
	CONTROL "&3", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 64, 6, 8
	CONTROL "&4", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 77, 6, 8
	CONTROL "&5", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 90, 6, 8
	CONTROL "", 100, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 22, 36, 90, 11
	CONTROL "", 102, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 22, 49, 90, 11
	CONTROL "", 104, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 22, 62, 90, 11
	CONTROL "", 106, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 22, 75, 90, 11
	CONTROL "", 108, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 22, 88, 90, 11
	CONTROL "", -1, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 6, 5, 204, 101
	CONTROL "", -1, "BorShade", 2 | WS_CHILD | WS_VISIBLE, -37, 203, 290, 2
	CONTROL "", 101, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 36, 90, 11
	CONTROL "", 103, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 49, 90, 11
	CONTROL "", 105, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 62, 90, 11
	CONTROL "", 107, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 75, 90, 11
	CONTROL "", 109, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 88, 90, 11
	CONTROL "File", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 25, 14, 8
	CONTROL "Description", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 136, 25, 39, 8
	CONTROL "", -1, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 6, 110, 204, 84
	CONTROL "Process VT100 Commands", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 114, 192, 9
	CONTROL "All", 110, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 98, 127, 21, 10
	CONTROL "Move Up", 111, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 142, 41, 10
	CONTROL "Move Down", 112, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 155, 49, 9
	CONTROL "Move Left", 113, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 167, 47, 10
	CONTROL "Move Right", 114, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 179, 53, 10
	CONTROL "Move To", 115, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 143, 38, 10
	CONTROL "Clear Screen", 116, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 156, 53, 10
	CONTROL "Erase Line", 117, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 168, 49, 10
	CONTROL "Set Mode", 118, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 70, 179, 44, 10
	CONTROL "Reset Mode", 119, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 126, 142, 53, 10
	CONTROL "Remap Keyboard", 120, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 126, 155, 67, 10
	CONTROL "Save/Restore Pos", 121, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 126, 167, 76, 10
	CONTROL "Report Position", 122, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 126, 179, 70, 10
END

dlg_Script DIALOG 32, 51, 142, 126
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "Script"
BEGIN
	CONTROL "", 100, "EDIT", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 17, 128, 72
	CONTROL "Info:", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 5, 119, 8
	CONTROL "Button", 3, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 55, 99, 32, 20
	CONTROL "", 101, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 4, 4, 134, 89
END

ico_Main ICON 
BEGIN
'00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
'00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
'00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
'80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
'00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 8C CC'
'CC CC CC CC CC C0 F7 77 77 77 77 0C CC C8 8A CC'
'CC CC CC CC CC 00 8F 77 77 77 7F 0C CC C8 8A AC'
'CC CC CC CC C0 08 C8 F7 77 77 F0 CC CC C8 8A AA'
'CC CC CC CC 00 8C CC 8F 77 7F 0C CC CC C8 8A A0'
'00 00 00 0C 08 CC CC C0 FF F0 CC CC CC 08 8A 88'
'88 88 88 80 CC CC CC 00 88 8C CC CC C0 88 88 77'
'77 77 77 78 0C CC C0 08 CC CC CC CC 08 78 8F 78'
'07 77 80 77 80 CC 00 8C CC 00 00 00 87 F8 8F 78'
'07 77 80 77 80 CC 08 CC C0 88 88 80 8F 08 8F 78'
'07 77 80 77 80 CC CC CC 08 88 88 88 F0 C8 8F 78'
'07 77 80 77 80 CC CC C0 88 87 77 77 88 08 8F 78'
'87 77 88 77 80 CC CC 08 88 77 77 77 78 08 8F 77'
'78 00 77 77 80 CC CC 08 87 77 77 77 77 08 8F 77'
'78 00 77 77 80 CC CC 08 77 77 77 77 77 08 88 F7'
'78 88 77 78 0A AC CC C0 F7 77 77 77 77 08 8A 8F'
'FF FF FF F0 AA AA CC 00 8F 77 77 77 7F 08 8A A8'
'88 88 88 8A AA AA AC 08 C8 F7 77 77 F0 C8 8A AA'
'AA AA AA AA AA AA 00 CC CC 8F 77 7F 0C C8 8A AA'
'AA A0 00 00 00 0A 08 AC CC C0 FF F0 CC C8 8A AA'
'AA 88 88 88 88 80 AA AA CC 00 88 8C CC C8 8A AA'
'A8 77 77 77 77 78 0A AA AC 08 CC CC CC C8 8A AA'
'8F 78 07 77 80 77 80 AA 00 CC CC CC CC C8 8A AA'
'8F 78 07 77 80 77 80 AA 08 AC CC CC CC C8 8A AA'
'8F 78 07 77 80 77 80 AA AA AA CC CC CC C8 8A AA'
'8F 78 07 77 80 77 80 AA AA AA AC CC CC C8 8A AA'
'8F 78 87 77 88 77 80 AA AA AA AA CC CC C8 8A AA'
'8F 77 78 00 77 77 80 AA AA AA AA AC CC C8 8A AA'
'8F 77 78 00 77 77 80 AA AA AA AA AA CC C8 8A AA'
'A8 F7 78 88 77 78 0A AA AA AA AA AA AC C8 8A AA'
'AA 8F FF FF FF F0 AA AA AA AA AA AA AA C8 88 88'
'88 88 88 88 88 88 88 88 88 88 88 88 88 88 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00'

END
//#include "twinsock.rc"
#include "twinsock.rc"
dlg_Input DIALOG 18, 18, 232, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "Input string"
BEGIN
	EDITTEXT 101, 11, 16, 209, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "Button", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 35, 32, 20
	CONTROL "User-defined text:", 100, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 5, 214, 8
	CONTROL "", -1, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 3, 4, 225, 29
END
dlg_InputNE DIALOG 18, 18, 232, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg"
CAPTION "Input string (No Echo)"
BEGIN
	CONTROL "", 101, "EDIT", ES_LEFT | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 16, 209, 12
	CONTROL "Button", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 35, 32, 20
	CONTROL "User-defined text:", 100, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 5, 214, 8
	CONTROL "", -1, "BorShade", 32769 | WS_CHILD | WS_VISIBLE, 3, 4, 225, 29
END
